@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: black;

  color: white;
  font-family: 'SBAggroM';

  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

/* NP Watch Face */
h1 {
  font-size: 60px;

  margin-top: 0px;
  margin-bottom: 0px;
}

/* class =================================================================== */
/* line box ========================================== */
.line_long {
  border-bottom: 5px solid rgb(50,50,50);
}

.line_short {
  width: 450px;
  border-bottom: 3px solid rgb(50,50,50);
  margin: auto;
}

.empty_box_big {
  height: 150px;
}

.empty_box_small {
  height: 50px;
}

/* top ============================================== */
.top {
  display: table;

  height: 140px;
  text-align: center;

  margin: auto;
  margin-top: 10px;
}

.logo {
  display: table-cell;
  vertical-align: middle;

  padding-left: 20px;
}

.np_watch_face {
  display: table-cell;
  vertical-align: middle;

  padding: 20px;
}

/* list ============================================== */
.list {
  display: table;
  text-align: center;

  height: 50px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.list_table {
  display: table-cell;
  vertical-align: middle;
  width: 200px;
}

.list_table_all {
  width: 120px;
}

.list_box {
  font-size: 30px;
  color: rgb(150,150,150);

  padding-left: 12px;
  padding-right: 12px;
}

.list_here {
  font-size: 35px;
  color: white;
}

/* apps ============================================== */
.apps {
  text-align: center;
  padding-top: 60px;
}

.app_box{
  /* display: inline-block; */
  width: 300px;
  margin: 20px;
}

.for_wear_os {
  text-align: center;
  font-size: 25px;

  padding-bottom: 15px;

}



/* bottom ============================================== */
.bottom {
  text-align: center;

  padding-top: 20px;
  padding-bottom: 500px;
}

.sns{
  margin: 10px;
  margin-bottom: 20px;
}

.sns_box {
  width: 50px;

  margin: 12px;
}

.privacy_policy_box {
  font-size: 30px;
}

/* display ==================================================================*/
@media(max-width: 750px) {
  .line_short {
    width: 60vw;
  }
}

@media (min-width: 2000px) {
  .apps {
    width: 1800px;
    margin: auto;
  }
}

/* mobile ===================================================================*/
@media (max-width: 1000px) {
  .list_box {
    font-size: 35px;
  }

  .list_here {
    font-size: 40px;
    color: white;
  }

  .list_table {
    width: 225px;
  }

  .list_table_all {
    width: 120px;
  }

  .for_wear_os {
    font-size: 30px;
  }

  .app_box {
    width: 400px;
  }

  .sns_box {
    width: 90px;
    margin: 20px;
  }

  .empty_box_big {
    height: 100px;
  }

  .privacy_policy_box {
    font-size: 40px;
  }

}











/* end */
